

<div class="account-container" id="accountContainer">
    <div class="account-form">
        <div id="formClosebtn">&times;</div>
        <h2>登录</h2>

        {{/* 注册 */}}
        <div id="registerForm" class="register-form">
            <div class="input-box">
                <label for="regUserName">用户名：</label>
                <input id="regUserName" placeholder="用户名">
            </div>
            <div class="input-box">
                <label for="regUserPass">密码：</label>
                <input id="regUserPass" type="password" placeholder="密码">
            </div>
            <div class="input-box">
                <label for="regUserPass">确认密码：</label>
                <input id="regUserPass" type="password" placeholder="密码">
            </div>
        
            <div id="registerformBtn">确认</div>
        
        </div>
        
        {{/* 登录 */}}
        <div id="loginForm" class="login-form" style="display: none;">
            <div class="input-box">
                <label for="loginUserName">用户名：</label>
                <input id="loginUserName" placeholder="用户名">
            </div>
            <div class="input-box">
                <label for="loginUserPass">密码：</label>
                <input id="loginUserPass" type="password" placeholder="密码">
            </div>
            <div id="loginformBtn">确认</div>
        </div>
        
        <div>
            <button>已有账号登录</button> <button>注册账号</button>
        </div>

    </div>
</div>



