<!-- 弹窗 -->
<div class="modal" id="modal">
    <div class="modal-content">
        <h3 style="color: black;">新增url</h3>
        <div class="input-group">
            <label for="inputBox">请输入url内容：</label>
            <input type="text" id="inputBox" placeholder="请输入内容..." />
        </div>

        <div class="input-group">
            <label for="inputBox">请输入url内容：</label>
            <input type="text" id="inputBox" placeholder="请输入内容..." />
        </div>

        <div class="input-group">
            <label for="inputBox">请输入url内容：</label>
            <input type="text" id="inputBox" placeholder="请输入内容..." />
        </div>

        <div class="input-group">
            <label for="inputBox">请输入url内容：</label>
            <input type="text" id="inputBox" placeholder="请输入内容..." />
        </div>

        <div class="input-group">
            <label for="inputBox">请输入url内容：</label>
            <input type="text" id="inputBox" placeholder="请输入内容..." />
        </div>
        

        <div class="actions">
            <button id="cancelBtn">取消</button>
            <button id="confirmBtn">确定</button>
        </div>
    </div>
</div>