<div class="url-container">
    
    <div class="tag-container">
        <h2>收藏夹1</h2>
        <div class="tag-list" id="tagList">
            <a href="#">标签1</a>
            <a href="#">标签2</a>
        </div>

        <div class="add-container" id="addContainer">
            {{ partial "urladd.html" . }}
        </div>
        <div class="add-btn" id="addBtn">➕ 添加</div>
        <div class="    toggle-btn" id="toggleBtn">▼</div>
    </div>

    <div class="tag-container">
        <h2>urlname</h2>
        <div class="tag-list" id="tagList">
            <a href="#">标签1</a>
            <a href="#">标签2</a>
            <a href="#">标签3</a>
            <a href="#">标签4</a>
            <a href="#">标签5</a>
            <a href="#">标签6</a>
            <a href="#">标签7</a>
            <a href="#">标签8</a>
            <a href="#">标签9</a>
            <a href="#">标签10</a>
            <a href="#">标签11</a>
            <a href="#">标签1</a>
            <a href="#">标签2</a>
            <a href="#">标签3</a>
            <a href="#">标签4</a>
            <a href="#">标签5</a>
            <a href="#">标签6</a>
            <a href="#">标签7</a>
            <a href="#">标签8</a>
            <a href="#">标签9</a>
            <a href="#">标签10</a>
            <a href="#">标签11</a>
        </div>
        <div class="add-btn" id="addBtn">＋</div>
        <div class="toggle-btn" id="toggleBtn">▼</div>
    </div>

    <div class="tag-container">
        <h2>urlname</h2>
        <div class="tag-list" id="tagList">
            <a href="#">标签1</a>
            <a href="#">标签2</a>
            <a href="#">标签3</a>
            <a href="#">标签4</a>
            <a href="#">标签5</a>
            <a href="#">标签6</a>
            <a href="#">标签7</a>
            <a href="#">标签8</a>
            <a href="#">标签9</a>
            <a href="#">标签10</a>
            <a href="#">标签11</a>
            <a href="#">标签1</a>
            <a href="#">标签2</a>
            <a href="#">标签3</a>
            <a href="#">标签4</a>
            <a href="#">标签5</a>
            <a href="#">标签6</a>
            <a href="#">标签7</a>
            <a href="#">标签8</a>
            <a href="#">标签9</a>
            <a href="#">标签10</a>
            <a href="#">标签11</a>
        </div>
    
        <div class="toggle-btn" id="toggleBtn">▼</div>
    </div>

    
</div>

